@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: white;
    padding: 1rem !important;
}
